:root {
  --primary: #2874F0;
  --primary-dark: #1E5DC8;
  --yellow: #FFE500;
  --bg: #F1F3F6;
  --text-dark: #212121;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--bg);
}

a {
  text-decoration: none;
  color: inherit;
}
